/vendor
/vendor/
/node_modules
/node_modules/
/public/build
/database/database.sqlite
/storage/logs/*.log
/storage/*.key
/storage/app/public
/bootstrap/cache/*.php
/public/storage
/public/hot
/public_html/storage
/public_html/hot
/storage/pail
/app/storage/
/bootstrap/compiled.php
/.vagrant
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
.phpunit.result.cache
.phpactor.json
auth.json
npm-debug.log
yarn-error.log
